
.main {
    display: flex;
    background-color:  hsl(222, 26%, 31%);
    width: 1440px;
    height: 100%;
    padding: 5% 30%;
    margin: -1%;
    margin-bottom: 7%;
}

.calculator {
   width: 35%;
   margin-bottom: 7%;
}

.heading, .heading2 {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    font-weight: 900;
}

.heading h3 {
    font-size: 28px;
    letter-spacing: 0.2ch;
    font-weight: 700;
}

.heading h3 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.2ch;
    padding-top: 20%;
}

.input {
   width: 94%;
   height: 80px;
   background-color: hsl(224, 36%, 15%);
   color: white;
   font-size: 47px;
   text-align: right;
   padding-right: 6%;
}

.botones {
   align-items: center;
   background-color:  hsl(223, 31%, 20%);
   padding: 5% 1%;
   margin-top: 4%;
}

.botones button:hover {
   filter: brightness(1.75);
}

.number, .back, .plus, .minus, .decimal, .multi, .division {
    width: 19%;
    height: 55px;
    margin: 1% 0.5% 1.5% 4.5%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 32px;
    background-color: hsl(30, 25%, 89%);
}

.number:hover, .back:hover, .plus:hover, .minus:hover, .decimal:hover, .multi:hover, .division:hover, .reset:hover, .equal:hover {
  cursor: pointer;
}

.back:hover, .reset:hover, .equal:hover {
    filter: brightness(1.75);
  }


.back, .reset {
    padding-top: 1%;
    font-size: 22px; 
    background-color:  hsl(225, 21%, 49%);
    color: white;
    font-weight: 700;
}

.botonesf {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    background-color:  hsl(223, 31%, 20%);
}

.reset, .equal {
    width: 42%;
    height: 55px;
    margin: -2% 1% 5% 1%;
    border-radius: 10px;
}
.equal {
    font-size: 22px; 
    background-color:  hsl(6, 63%, 50%);
    color: white;
}

.toggle {
    display: flex;
  justify-content:flex-start;
  border-radius: 50px;
  border-style: none;
  background-color:  hsl(223, 31%, 20%);
  padding: 3% 3% 4% 0%;

}

.toggle input {
  height: 15px;
  width: 16px;
  appearance: none;
  border-radius: 50%;
  background-color:  hsl(6, 63%, 50%);
  opacity: 1;
  cursor: pointer;
}

#two, #three {
  background-color: hsl(223, 31%, 20%);
}

#one:focus {
  background-color:  hsl(6, 63%, 50%);
}

#two:focus{
  background-color: hsl(25, 98%, 40%);
}

#three:focus {
  background-color: hsl(176, 65%, 59%);;
}
.theme {
    display: inline-flex;
   justify-content: space-between;
   width: 40%;
   margin-bottom: 1%;
}

.theme h4 {
    padding: 13% 0% 0% 20%;
    font-size: 15px;
}

.theme p {
   width: 100%;
   letter-spacing: 0.65ch;
   padding-left: 11%;
   margin-bottom: 10%;
}

.input2 {
  width: 94%;
  height: 80px;
  background-color:  hsl(0, 0%, 93%);
  color: black;
  font-size: 47px;
  text-align: right;
  padding-right: 6%;
  border-style: none;
}

#botones2, #botonesf2 {
  background-color:  hsl(0, 5%, 81%);
}

#botones2 button, #reset2, #equal2 {
  border-style: none;
  filter: drop-shadow(0.15rem 0.25rem 0.1rem rgba(0, 0, 0, 0.5));
}

#reset2, #botones2 .back {
   background-color: hsl(185, 42%, 37%);
}

#equal2 {
  background-color: hsl(25, 98%, 40%);
}


#reset2:hover, #botones2 .back:hover, #equal2:hover {
  filter: brightness( 1.35);
}

.input4 {
  background-color:  hsl(268, 71%, 12%);
  color: hsl(52, 100%, 62%);
  width: 94%;
  height: 80px;
  font-size: 47px;
  text-align: right;
  padding-right: 6%;
}

#botones3, #botonesf3 {
  background-color:  hsl(268, 71%, 12%);
}

#botones3 button, #reset3 {
  border-style: none;
  filter: drop-shadow(0.15rem 0.25rem 0.1rem hsl(285, 91%, 52%));
}

#botones3 button {
   color: hsl(52, 100%, 62%);
   background-color:  hsl(268, 47%, 21%);
}

#equal3 {
  background-color: hsl(176, 100%, 44%);
  border-style: none;
  filter: drop-shadow(0.15rem 0.25rem 0.1rem hsl(176, 88%, 47%));
  color: black;
}

#reset3, #botones3 .back {
  background-color: hsl(281, 89%, 26%);
  color: white;
}

#reset3:hover, #botones3 .back:hover, #botones3 button:hover {
  filter: brightness( 1.75);
}

#equal3:hover {
  filter: brightness( 1.75);
  background-color: hsl(176, 65%, 59%);
}



@media (min-width: 1445px) {

.main {
  width: 100vw;
}
}


@media (min-width: 1051px) and (max-width: 1300px)  /* laptop*/ {
 
.main {
  width: 100vw;
  padding: 5% 30%;
}

.calculator {
  width: 40%;
  margin-bottom: 7%;
}

   
}
  
@media (min-width: 701px) and (max-width: 1050px) /*tablet*/ {
  
.main {
  width: 100vw;
  padding: 5% 25%;
}

.calculator {
  width: 60%;
  margin-bottom: 7%;
}

.heading {
  width: 100%;
}

.theme {
  width: 35%;
 }
}
  
@media (min-width: 551px) and (max-width: 700px) /*tablet*/ {
  
.main {
  width: 100vw;
  padding: 5% 25%;
}

.calculator {
  width: 60%;
  margin-bottom: 7%;
}

.heading {
  width: 100%;
}

.theme {
  width: 50%;
 }
}


@media (max-width: 550px)  /* celphones */ {
   
.main {
  width: 100vw;
  padding: 5% 8%;
  background-color:  hsl(0, 0%, 17%);
}

.calculator {
  width: 85%;
  margin: 10% 0%;
}

.calone, .heading {
  background-color: hsl(222, 26%, 31%);
  padding: 4% 10%;
}

#caltwo, .heading2 {
  background-color: aliceblue;
}

.theme {
 width: 60%;
}
.heading {
  width: 80%;
}
.input {
  margin: -5% 0% 2% 0%;
}
}
